<!doctype html>
<html lang="{{ page.lang }}">
    <head>
        {% include layout/head.html %}
    </head>
    <body>
        {{ content }}
		<!-- Javascript -->
		<script type="text/javascript" src="assets/jquery.js"></script>
			<script type="text/javascript">
				labels = [
					{% if page.lang == 'en' %} <!-- English -->
					{% assign nsections = site.data.sections %}
					{% endif %}
					{% if page.lang == 'zh' %} <!-- 中文 -->
					{% assign nsections = site.data.zh.sections %}
					{% endif %}
					{% for section in nsections %}
							"{{section.id}}",
					{% endfor %}
				];
			</script>
		<script type="text/javascript" src="assets/main.js"></script>
    </body>
</html>
