---
layout: default
---
{% if page.lang == 'en' %}
{% assign logo = site.title.en %}
{% endif %}
{% if page.lang == 'zh' %}
{% assign logo = site.title.zh %}
{% endif %}
<header class="app-bar promote-layer">
	<div class="app-bar-container">
		<button class="menu"><img src="images/hamburger.svg" alt="menu"></button>
		<h1 class="logo">{{ logo }}</h1>
		<span class="lang">
		{% if page.lang == 'en' %}
		<a href="index-zh.html#">中</a>
		{% endif %}
		{% if page.lang == 'zh' %}
		<a href="index.html#">En</a>
		{% endif %}
		</span>
	</div>
</header>
 
{{ content }}

{% include layout/footer.html %}

